# For Loop , While Loop

In [1]:
# for i in Collection_Datatyoe:
#   code block

In [2]:
# Allowed :str,list,tuple , set , dict, froxzenset , any collection

# String with for loop

In [5]:
import time
for i in 'Harry':
    print(i.upper())
    time.sleep(1)

H
A
R
R
Y

In [6]:
import time
for i in 'Harry':
    print(i.upper(),end = '')
    time.sleep(1)

HARRY

In [7]:
p ='''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the trav'ller in the dark,
Thanks you for your tiny spark,
He could not see which way to go,
If you did not twinkle so.

In the dark blue sky you keep,
And often thro' my curtains peep,
For you never shut your eye,
Till the sun is in the sky.

'Tis your bright and tiny spark,
Lights the trav'ller in the dark:
Tho' I know not what you are,
Twinkle, twinkle, little star.'''

In [9]:
for i in p:
    print(i.upper(),end='')
    time.sleep(0.005)

TWINKLE, TWINKLE, LITTLE STAR,
HOW I WONDER WHAT YOU ARE!
UP ABOVE THE WORLD SO HIGH,
LIKE A DIAMOND IN THE SKY.

WHEN THE BLAZING SUN IS GONE,
WHEN HE NOTHING SHINES UPON,
THEN YOU SHOW YOUR LITTLE LIGHT,
TWINKLE, TWINKLE, ALL THE NIGHT.

THEN THE TRAV'LLER IN THE DARK,
THANKS YOU FOR YOUR TINY SPARK,
HE COULD NOT SEE WHICH WAY TO GO,
IF YOU DID NOT TWINKLE SO.

IN THE DARK BLUE SKY YOU KEEP,
AND OFTEN THRO' MY CURTAINS PEEP,
FOR YOU NEVER SHUT YOUR EYE,
TILL THE SUN IS IN THE SKY.

'TIS YOUR BRIGHT AND TINY SPARK,
LIGHTS THE TRAV'LLER IN THE DARK:
THO' I KNOW NOT WHAT YOU ARE,
TWINKLE, TWINKLE, LITTLE STAR.

# Loop with List

In [11]:
data = [2,35,55,446,646,44,9696,85,76,83669,74,96]

even =[]
odd=[]

for i in data:
    if(i%2==0):
        even.append(i)
    else:
        odd.append(i)

In [12]:
print('Even List : ',even)
print('Odd List : ',odd)

Even List :  [2, 446, 646, 44, 9696, 76, 74, 96]
Odd List :  [35, 55, 85, 83669]

In [15]:
companies = ['ola','uber','metro','blinkit','adani','tcs','kia']

vowels =[]
consonants =[]

for i in companies:
    if i[0].lower() in 'aeiou':
        vowels.append('#'+i.upper())
    else:
        consonants.append('@'+i.lower())

print('Vowels: ',vowels)
print('Consonants :',consonants)

Vowels:  ['#OLA', '#UBER', '#ADANI']
Consonants : ['@metro', '@blinkit', '@tcs', '@kia']

# Database Design

In [38]:
records = int(input('How many records you want to insert : '))

data ={'Name':[],'Age':[],'Salary':[],'Dept':[],'Address':[],'Designation':[]}

for i in range(records):
    name = input('Enter Name : ')
    age = int(input('Enter Age : '))
    salary = int(input('Enter Salary : '))
    dept = input('Enter Dept : ')
    address = input('Enter Address : ')
    designation = input('Enter Designation : ')

    data['Name'].append(name)
    data['Age'].append(age)
    data['Salary'].append(salary)
    data['Dept'].append(dept)
    data['Address'].append(address)
    data['Designation'].append(designation)

    print(f'{name} Your record has been inserted Successfully!!')
    print('\n')

import pandas as pd
table = pd.DataFrame(data)

table

How many records you want to insert :  2
Enter Name :  Rahul
Enter Age :  25
Enter Salary :  45000
Enter Dept :  DA
Enter Address :  agra
Enter Designation :  Data Analysis

Rahul Your record has been inserted Successfully!!

Enter Name :  Raj
Enter Age :  45
Enter Salary :  10000
Enter Dept :  Workshop
Enter Address :  Manglore
Enter Designation :  Intern

Raj Your record has been inserted Successfully!!


{'Name': ['Rahul', 'Raj'], 'Age': [25, 45], 'Salary': [45000, 10000], 'Dept': ['DA', 'Workshop'], 'Address': ['agra', 'Manglore'], 'Designation': ['Data Analysis', 'Intern']}

In [40]:
table.to_excel('Emp_Records.xlsx')
print('Done')

Done

# Number Guess

In [20]:
import random

print('welcome to KB Number Guess Game')

print('\n\n')

attempts = 10
entry_fees = 100
company_collection = 0
user_collection = attempts * entry_fees



for i in range(attempts):
    user_collection -=entry_fees
    company_collection += entry_fees
    comp = random.randint(1,10)
    user = int(input(f'attempts {i+1} Guess a Number (1 -10): '))

    print(f'''
    compuer choice :{comp}
    user choice : {user}''')

    if user == comp:
        print('You won 200 rs.âœŒâœŒâœ¨âœ¨',end ='\n'*2)
        user_collection +=entry_fees * 2
        company_collection -=entry_fees * 2
    else:
        print('Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’',end ='\n'*2)

welcome to KB Number Guess Game

attempts 1 Guess a Number (1 -10):  4

    compuer choice :9
    user choice : 4
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 2 Guess a Number (1 -10):  4

    compuer choice :9
    user choice : 4
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 3 Guess a Number (1 -10):  5

    compuer choice :8
    user choice : 5
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 4 Guess a Number (1 -10):  8

    compuer choice :8
    user choice : 8
You won 200 rs.âœŒâœŒâœ¨âœ¨

attempts 5 Guess a Number (1 -10):  8

    compuer choice :4
    user choice : 8
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 6 Guess a Number (1 -10):  7

    compuer choice :8
    user choice : 7
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 7 Guess a Number (1 -10):  5

    compuer choice :9
    user choice : 5
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 8 Guess a Number (1 -10):  8

    compuer choice :9
    user choice : 8
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 9 Guess a Number (1 -10):  8

    compuer choice :7
    user choice : 8
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

attempts 10 Guess a Number (1 -10):  76

    compuer choice :9
    user choice : 76
Better luck next timeðŸ˜’ðŸ˜’ðŸ˜’

In [21]:
print('Company Collection : ',company_collection)
print('User_Collection : ',user_collection)

Company Collection :  800
User_Collection :  200

# Password Generator

In [33]:
import string
import random

all_possible_char=string.ascii_letters+string.digits+string.punctuation
password_length = 10
password = ''

for i in range(password_length):
    password += random.choice(all_possible_char)

print('Suggested Password :',password.upper())

Suggested Password : "H*D`SZ=`+