In [1]:
#Variables Declaration
#Operations

In [3]:
a = 67
b = 78

In [4]:
#RULE 1 : Can not starts with digits

45d = 'Jatin'

SyntaxError: invalid decimal literal (1272078299.py, line 3)

In [5]:
#RULE 2 : Not contains any white Spaces
full name = 'Saurabh'

SyntaxError: invalid syntax (2106545973.py, line 2)

In [7]:
#Rule 3 : It must not contains any special charactors , not allowed
# !@#$%^&*()<>?"{}|

@name = 'Jatin'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3664616306.py, line 4)

In [8]:
#RULE 4 : ONLY underscore is allowed
# _
_a = 45

In [9]:
_ = 545

In [10]:
print(_)

545

In [11]:
#RULE 5 : DIGITS ARE ALLOWED AFTER FIRST INDEX

y123 = 'Raju'

In [12]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [13]:
del = 'lucky'

SyntaxError: invalid syntax (324317781.py, line 1)

In [14]:
#RULE 7 : Python is case sensitive

In [15]:
name = 'ajay'
Name = 'lucky'
NAME = 'KAaram'

# OPERATORS

# ARITHMETIC OPERATIONS

- +,-,*,/,//,%,**

In [17]:
a = 45
b=56
print('sum : ',a+b)
print('min : ',a-b)
print('mul : ',a*b)

sum :  101
min :  -11
mul :  2520

In [19]:
a = 45
b=6
print('Div :',a/b)
print('Modules : ',a//b)
print('Power a,b :',a**b)

Div : 7.5
Modules :  7
Power a,b : 8303765625

# Comparision / Relationship OP
- <,<=,>,>=,++,!=
- Bool :True , False

In [20]:
a = 48
b= 50
print('a>b :',a>b)
print('a>=b:',a>=b)
print('a<b:',a<b)
print('a<=b:',a<=b)
print('a==b',a==b)
print('a!=b',a!=b)

a>b : False
a>=b: False
a<b: True
a<=b: True
a==b False
a!=b True

# MemberShip OP
- IN,NOT IN

In [21]:
students = ['karan','ravi','ajay','mohan','akshay']

In [22]:
'ravi' in students

True

In [26]:
'Akshay' in students

False

In [27]:
'Tarun' not in students

True

In [24]:
all_pwd= ['aman@123','Aman@123','aman@1234','aman1997','aman@gras']
new_pwd = 'aman@1237'

if new_pwd in all_pwd:
    print('Create another Password')
else:
    print('Password Created Successfully')

Password Created Successfully

In [25]:
system_otp = 5678

user_otp = 5674

if user_otp == system_otp:
    print("OTP VERIFY")
else:
    print("WRONG OTP")

WRONG OTP

# LOGICAL OP
- To check multiple condition results
- AND ,OR, NOT

In [29]:
a = 45
b = 67

name ='Ajay'
age = 18

#AND : ALL CONDITION ARE TRUE, RETURN TRUE
print((a ==b) and (name == 'MOhan') and (age >=18))

#OR : ONE CONDITION IS TRUE , RETURN TRUE
print((a == b) or (name == 'MOhan') or (age >=18))

False
True

In [34]:
a = 45
b = 67

name ='Ajay'
age = 18

#AND : ALL CONDITION ARE TRUE, RETURN TRUE
print((a !=b) and (name != 'MOhan') and (age >=18))
print((a !=b) and (name != 'MOhan') and (age >=18) and False)

True
False

In [35]:
True or False

True

In [36]:
True and False

False

In [37]:
not True and False

False

# Identity OP
- is, is not

In [39]:
# id check

a=45
b=45

print(id(a))
print(id(b))

140711451635512
140711451635512

In [40]:
a is b

True

In [41]:
a == b

True

In [42]:
a = 582
b = 582

print(id(a))
print(id(b))

2277179830768
2277179830448

In [44]:
a == b

True

In [45]:
a is b

False

# Assignment OP
- =,+=,-=,*=,/=,**=,%=

In [46]:
a = 5
a = a+15

print(a)

20

In [47]:
a = 50
a+=10
print(a)

60

In [48]:
a=50
a-=10
print(a)

40

In [49]:
a=50
a*=10
print(a)

500

In [52]:
a=54
a/=10
print(a)

5.4

In [53]:
a=54
a//=10
print(a)

5

In [54]:
a=50
a**=2
print(a)

2500

# Bitwise OP
- &,|,^,~,<<,>>

In [56]:
# Bitwise op: bit level pe ja ke solve karna:  0,1
a = 23 #010111
b = 34 #100010
       #000010

a & b

2

In [57]:
# Bitwise op: bit level pe ja ke solve karna:  0,1
a = 23 #010111
b = 34 #100010
       #110111

a | b

55

In [58]:
a = 45
~a

-46

In [59]:
a = 45 #101101
b = 56 #111000
        #010101

a^b

21

In [61]:
a = 4 # 10110100 # result twice
a << 4   #4*2*2*2*2

64

In [62]:
a = 4 # result half

a>>3 #4/2/2/2

0

'https:' is not recognized as an internal or external command,
operable program or batch file.