# Nested Function()

In [1]:
#Function inside Function

In [6]:
def grastech():#main function

    def hello():#Secondary function
        print('Hello budyy!!, how are you??')

    hello()

    print("We are learning python")

In [7]:
grastech()

Hello budyy!!, how are you??
We are learning python

In [11]:
def grastech():#main function

    def hello():#Secondary function
        print('Hello budyy!!, how are you??')

    print("We are learning python")
    hello()

In [12]:
grastech()

We are learning python
Hello budyy!!, how are you??

In [44]:
def india():
    print('We are living in india')

    def noida():
        print('Noida is in NCR')

        def grastech():
            print('We offers DA and DS course')

        def hello():
            print('Hello Buddy , How are you')
       
    def welcome():  
        print('Welcome in the code')
    print('Bye')

In [45]:
india()

We are living in india
Bye

# Function with args: It can take as multiple arguements

In [13]:
def total_sales(s1,s2,s3):
    total=s1+s2+s3
    return total

In [15]:
total_sales(1200,2500,100)

3800

In [18]:
total_sales()

TypeError: total_sales() missing 3 required positional arguments: 's1', 's2', and 's3'

In [16]:
total_sales(1200,100)

TypeError: total_sales() missing 1 required positional argument: 's3'

In [17]:
total_sales(1,2,5,6)

TypeError: total_sales() takes 3 positional arguments but 4 were given

In [21]:
def final_sales(*args):
    sales = 0
    for i in args:
        sales = sales+i
    return sales

In [22]:
final_sales(14,52,47,45)

158

In [23]:
final_sales(144,5445,255,666,552,66,4)

7132

# Function with kwargs: 
- keyword arguements >> dict ke form store

In [24]:
def give_introduction(name , age , address):
    print(f'my name is {name}')
    print(f'my age is {age}')
    print(f'i lived in  {address}')

In [25]:
give_introduction('Gagan',34,'Noida')

my name is Gagan
my age is 34
i lived in  Noida

In [26]:
give_introduction('Ganesh',24)

TypeError: give_introduction() missing 1 required positional argument: 'address'

In [28]:
give_introduction('Ganesh',24,'Noida','bca')

TypeError: give_introduction() takes 3 positional arguments but 4 were given

In [29]:
def introduction(**kwargs):
    for key,value in kwargs.items():
        print(f'my {key} is {value}'.title())

In [30]:
introduction(Name='Ganesh',city='Noida',age=24)

My Name Is Ganesh
My City Is Noida
My Age Is 24

# Lambda >> Anonymos function

In [31]:
def add(a,b):
    return a+b

In [32]:
add(23,45)

68

In [33]:
(lambda a,b: a+b)(1,3)

4

In [38]:
ekansh = lambda l1,l2:list(set(l1).intersection(set(l2)))

In [39]:
ekansh([1,5,4,11,6,2,7],[11,8,6,7])

[11, 6, 7]

In [41]:
(lambda l1,l2:list(set(l1).intersection(set(l2))))([1,5,4,11,6,2,7],[11,8,6,7])

[11, 6, 7]