In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [2]:
# Data types

In [3]:
# int,float,complex
# str , tuple ,list
# # dict, set , None

# Str : Date Types

In [1]:
a = 'Hello'

print(a,type(a))

Hello <class 'str'>

In [2]:
a = "Hello World"

print(a,type(a))

Hello World <class 'str'>

In [3]:
# write words with 's in python , we can need to use " " double quotes

a = "THis is Python's class"

print(a)

THis is Python's class

In [5]:
msg = ' "All our dreams can come true if we have the courage to pursue them." -Walt's Disney: '
print(msg)

SyntaxError: unterminated string literal (detected at line 1) (365465065.py, line 1)

In [7]:
#we can fix this syntax with help of ''' '''' triple quotes

msg = '''"All our dreams can come true if we have the courage to pursue them." -Walt's Disney '''
print(msg)

"All our dreams can come true if we have the courage to pursue them." -Walt's Disney

In [8]:
poem = 'Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.'

print(poem)

SyntaxError: unterminated string literal (detected at line 1) (3907516052.py, line 1)

In [75]:
# when we multiple lines then ''' ''' are useful

poem = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.'''

print(poem)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

In [72]:
# if you are single quotes then use backward slash \ after the end of line but there is no blank line between lines

poem = 'Twinkle, twinkle, little star,\
How I wonder what you are!\
Up above the world so high,\
Like a diamond in the sky.\
When the blazing sun is gone,\
When he nothing shines upon,\
Then you show your little light,\
Twinkle, twinkle, all the night.'

print(poem)

Twinkle, twinkle, little star,How I wonder what you are!Up above the world so high,Like a diamond in the sky.When the blazing sun is gone,When he nothing shines upon,Then you show your little light,Twinkle, twinkle, all the night.

In [12]:
a = 'this i\'s Py\'thon\'s Class'

print(a)

this i's Py'thon's Class

In [13]:
#Sequence Data types

In [14]:
a = 'Hello World'
#    012345678910  +ve indexing
#      .....-3-2-1  -ve indexing 

# 'H'>>0
# e>>1

In [15]:
a[4]

'o'

In [18]:
a[-5]

'W'

In [20]:
# operators

In [21]:
# +

a[6]+a[7]+a[8]+a[9]+a[10]

'World'

In [22]:
# Slicing
# a[start:stop:step]

print(a)

Hello World

In [23]:
a[6:]

'World'

In [24]:
a[:6]

'Hello '

In [25]:
a[6:11]

'World'

In [26]:
a[0:5]

'Hello'

In [30]:
a = 'This is Elon Musk'

print(a , type(a))

This is Elon Musk <class 'str'>

In [29]:
a[8:12]

'Elon'

In [32]:
a=[2,35,4584]
print(a , type(a))

[2, 35, 4584] <class 'list'>

In [33]:
a = 'This is Elon Musk'

print(a , type(a))

This is Elon Musk <class 'str'>

In [34]:
# We can't change str values

a[8:12]='Eion'

TypeError: 'str' object does not support item assignment

In [35]:
a = 'This is Elon Musk'

a[-9:-5]

'Elon'

In [36]:
a[0:9:2]

'Ti sE'

In [37]:
a[::-1]

'ksuM nolE si sihT'

In [39]:
a = 'nitin'

In [40]:
a

'nitin'

In [42]:
# Palindrome

a[::-1]

'nitin'

In [45]:
a = 'lucky '
print(a)

lucky

In [46]:
print(a * 3)

lucky lucky lucky

In [47]:
# \n: Next line >> New Line

In [48]:
a = 'this\nis\nElon\nMusk'

print(a)

this
is
Elon
Musk

In [49]:
# \t >> Tab button >> 4 spaces

In [50]:
a = 'Hello\t\tWorld\n'

In [51]:
print(a * 5)

Hello		World
Hello		World
Hello		World
Hello		World
Hello		World

In [52]:
for i in range(5):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [53]:
a = 'hello world'

In [54]:
a.upper() #FUNCTION OR METHODS

'HELLO WORLD'

In [55]:
a.title()

'Hello World'

In [56]:
a = "HollyWood Place"

In [57]:
a.lower()

'hollywood place'

In [58]:
a.replace('Place','').upper().lower().title().upper()

'HOLLYWOOD '

In [59]:
a = 'This is Elon Musk'

In [61]:
len(a)

17

In [62]:
# Split the words

a.split(' ')

['This', 'is', 'Elon', 'Musk']

In [67]:
a = 'This,is,Elon,Musk'

In [68]:
data= a.split(',')

In [69]:
print(data)

['This', 'is', 'Elon', 'Musk']

In [70]:
len(data)

4

In [80]:

poem = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

            When the blazing sun is gone,
            When he nothing shines upon,
            Then you show your little light,
            Twinkle, twinkle, all the night.'''

print(poem)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

            When the blazing sun is gone,
            When he nothing shines upon,
            Then you show your little light,
            Twinkle, twinkle, all the night.

In [81]:
poem.split(' ')

['Twinkle,',
 'twinkle,',
 'little',
 'star,\nHow',
 'I',
 'wonder',
 'what',
 'you',
 'are!\nUp',
 'above',
 'the',
 'world',
 'so',
 'high,\nLike',
 'a',
 'diamond',
 'in',
 'the',
 'sky.\n\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'When',
 'the',
 'blazing',
 'sun',
 'is',
 'gone,\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'When',
 'he',
 'nothing',
 'shines',
 'upon,\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Then',
 'you',
 'show',
 'your',
 'little',
 'light,\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Twinkle,',
 'twinkle,',
 'all',
 'the',
 'night.']

In [82]:
poem.splitlines()

['Twinkle, twinkle, little star,',
 'How I wonder what you are!',
 'Up above the world so high,',
 'Like a diamond in the sky.',
 '',
 '            When the blazing sun is gone,',
 '            When he nothing shines upon,',
 '            Then you show your little light,',
 '            Twinkle, twinkle, all the night.']

In [83]:
a = '       hello world'

print(a)

       hello world

In [84]:
# lstrip() => remove all left side space
a.lstrip()

'hello world'

In [85]:
a = 'hello world       '

print(a)

hello world

In [86]:
# rstrip() => remove all right side space
a.rstrip()

'hello world'

In [87]:
a = '        hello world         '

print(a)

        hello world

In [90]:
# remove both side spaces 
a.lstrip().rstrip()

'hello world'

In [91]:
# strip: remove both side spaces 

a.strip()

'hello world'

In [92]:
# center 

a = ' hello world !!'

print(a)

 hello world !!

In [94]:
print(a.center(100,' '))

                                           hello world !!

In [95]:
print(a.center(100,'*'))

****************************************** hello world !!*******************************************

In [96]:
# formet function

In [100]:
car = 'kia'
price = 546546
year = 2025

message = 'I have a {} car, having the price of {} and model year is {}'.format(car,price,year)

print(message)

I have a kia car, having the price of 546546 and model year is 2025

In [101]:
car = 'kia'
price = 546546
year = 2025

message = 'I have a {0} car,  model year is {2} , having the price of {1} '.format(car,price,year)

print(message)

I have a kia car,  model year is 2025 , having the price of 546546

In [106]:
# modern approch : Using f with curly brackets {name}

car = 'kia'
price = 546546
year = 2025

message = f'I have a {car} car,  model year is {year} , having the price of {price} '

print(message)

I have a kia car,  model year is 2025 , having the price of 546546

In [108]:
# If you are not using f with curly brackets {name} , it does not return values

car = 'kia'
price = 546546
year = 2025

message = 'I have a {car} car,  model year is {year} , having the price of {price} '

print(message)

I have a {car} car,  model year is {year} , having the price of {price}

In [110]:
balance = 257000

msg = 'Your current bank account balance is {balance}'

print(msg)

Your current bank account balance is {balance}

In [111]:
balance = 257000

msg = f'Your current bank account balance is {balance}'

print(msg)

Your current bank account balance is 257000