# TUPLE

In [1]:
a = (23,45,78,45)

In [4]:
print(a)
type(a)

(23, 45, 78, 45)

tuple

In [5]:
a = (23,53,456,67,+0.7,[4,346,7],{'Name':'Mohan'},True)

In [6]:
type(a)

tuple

In [7]:
#nested tuple

In [9]:
a = (23,56,4556,116,0.7,[4,85,668,12],{'name':'karan'},True)

In [10]:
a

(23, 56, 4556, 116, 0.7, [4, 85, 668, 12], {'name': 'karan'}, True)

In [11]:
#indexing and slicing

In [14]:
a[3][-1] = 545

TypeError: 'int' object does not support item assignment

In [15]:
#reverse

In [16]:
a = (23,54,69,55,141,16,66)

In [17]:
a

(23, 54, 69, 55, 141, 16, 66)

In [18]:
a[::-1]

(66, 16, 141, 55, 69, 54, 23)

In [19]:
sum(a)

424

In [20]:
min(a)

16

In [21]:
max(a)

141

In [22]:

a = (6,23,567)
b = (5,3246,7)

In [23]:
a + b # + : append the tuple items next

(6, 23, 567, 5, 3246, 7)

In [25]:
a - b # - : unsupported operand : generate error

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [26]:
a

(6, 23, 567)

In [27]:
a * 3

(6, 23, 567, 6, 23, 567, 6, 23, 567)

In [28]:
# Methods 2

In [29]:
# a.count
#a.index

In [38]:
a = (3561,54,654,5,55,36441,1441,641,441,44,55)

In [39]:
a.count(55)

2

In [40]:
# slicing

In [41]:
a[3:8]

(5, 55, 36441, 1441, 641)

In [45]:
a

(3561, 54, 654, 5, 55, 36441, 1441, 641, 441, 44, 55)

In [46]:
a[a.index(654):a.index(641)+1]

(654, 5, 55, 36441, 1441, 641)

# DICT , Key-Value , Hash , Mapping , Map

In [44]:
# data = {'key':'value'}

In [47]:
data = {'Name':'Mohan','Age':34,'Class':12,'Address':'Noida'}

In [48]:
print(data)

{'Name': 'Mohan', 'Age': 34, 'Class': 12, 'Address': 'Noida'}

In [49]:
# key: immutable: does not change
# value: all data type

In [51]:
data = {1:'Ajay',
        2.6:'Mohan',
        (214,35,6):'Komal',
        45-8j:'Lucky',
        False:False,
        'Harry':'Jai',
        frozenset((2,345,4)):45,
        None:'456'}
print(data)

{1: 'Ajay', 2.6: 'Mohan', (214, 35, 6): 'Komal', (45-8j): 'Lucky', False: False, 'Harry': 'Jai', frozenset({345, 2, 4}): 45, None: '456'}

In [52]:
data = {[23,45,78]:'Mohan'}

TypeError: unhashable type: 'list'

In [53]:

data = {{2,354,657}:'Mohan'}

TypeError: unhashable type: 'set'

In [54]:
data = {{'Name':'Ajay'}:'Mohan'}

TypeError: unhashable type: 'dict'

In [55]:
# list , dict , set cannot be a key , because it can be mutable(changable)

In [ ]:
# value: all data type: infuture: all

In [56]:

data = {1:[235,456,7,8],
       2:(2,43,46,7),
       3:56.6,
       4:89-9j,
       5:True,
       6:{2,3,467},
       7:{'Name':'Mohan'},
       8:None,
       9:'Ajay',
       10:10,
       11:frozenset((2,34,46))}
print(data)

{1: [235, 456, 7, 8], 2: (2, 43, 46, 7), 3: 56.6, 4: (89-9j), 5: True, 6: {2, 3, 467}, 7: {'Name': 'Mohan'}, 8: None, 9: 'Ajay', 10: 10, 11: frozenset({2, 34, 46})}

In [57]:
# Nested DICT

In [58]:
data = {'one':{'one':1,"two":2}}

In [60]:
data

{'one': {'one': 1, 'two': 2}}

In [68]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\saurabh\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saurabh\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saurabh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saurabh\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saurabh\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\saurabh\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [70]:
import pandas as pd

In [72]:
data = {'Emp_name':['Ajay','Ravi','Mohan','Karan'],
       'Age':[34,45,43,32],
       'Salary':[456678,56543,567898,767659],
       'Address':['Noida']*4}

In [74]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan', 'Karan'],
 'Age': [34, 45, 43, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [76]:
table = pd.DataFrame(data)

In [77]:
table

  Emp_name  Age  Salary Address
0     Ajay   34  456678   Noida
1     Ravi   45   56543   Noida
2    Mohan   43  567898   Noida
3    Karan   32  767659   Noida

In [79]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan', 'Karan'],
 'Age': [34, 45, 43, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [80]:
# Elementd can be changed based on key

In [82]:
data['Emp_name'][2] = 'Mohan Lal Singh'

In [83]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan Lal Singh', 'Karan'],
 'Age': [34, 45, 43, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Noida']}

In [84]:
data['Address'][-1]='Greater Noida'

In [85]:
data

{'Emp_name': ['Ajay', 'Ravi', 'Mohan Lal Singh', 'Karan'],
 'Age': [34, 45, 43, 32],
 'Salary': [456678, 56543, 567898, 767659],
 'Address': ['Noida', 'Noida', 'Noida', 'Greater Noida']}

In [86]:

car_collections = {'Kia':456789,'Audi':567896}

In [87]:
car_collections

{'Kia': 456789, 'Audi': 567896}

In [88]:
car_collections['Maruti']=456789

In [90]:
car_collections

{'Kia': 456789, 'Audi': 567896, 'Maruti': 456789}

In [91]:

car_collections['Bmw'] = 34567890

In [92]:
car_collections

{'Kia': 456789, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [94]:
car_collections['Kia']=159263847
#if key already exists , then it can not create va

In [95]:
car_collections

{'Kia': 159263847, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [96]:
car = {'kia':456789,'Audi':45678,'Maruti':567890,'kia':4567,'Maruti':6789,'Kia':765}

In [97]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 6789, 'Kia': 765}

In [104]:
banks_quiz = {'Delhi':{'Banks':[{'SBI':[[1200],[1500]],"PNB":[[345],[567],[678]]}],"RBI_Bank":{"Locker1":[1234]}}}

In [105]:
banks_quiz

{'Delhi': {'Banks': [{'SBI': [[1200], [1500]], 'PNB': [[345], [567], [678]]}],
  'RBI_Bank': {'Locker1': [1234]}}}

In [106]:
banks_quiz['Delhi']

{'Banks': [{'SBI': [[1200], [1500]], 'PNB': [[345], [567], [678]]}],
 'RBI_Bank': {'Locker1': [1234]}}

In [112]:
banks_quiz['Delhi']['Banks'][0]['PNB'][-1][0]=0

In [113]:
banks_quiz

{'Delhi': {'Banks': [{'SBI': [[1200], [1500]], 'PNB': [[345], [567], [0]]}],
  'RBI_Bank': {'Locker1': [1234]}}}

In [115]:
 ans = banks_quiz['Delhi']['RBI_Bank']["Locker1"][0]

In [118]:
banks_quiz['Delhi']['Banks'][0]['SBI'].append([ans])

In [119]:
banks_quiz

{'Delhi': {'Banks': [{'SBI': [[1200], [1500], [1234]],
    'PNB': [[345], [567], [0]]}],
  'RBI_Bank': {'Locker1': [1234]}}}

In [120]:
car_collections

{'Kia': 159263847, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [121]:
len(car_collections)

4

In [122]:
list(car_collections)

['Kia', 'Audi', 'Maruti', 'Bmw']

In [123]:
car_collections

{'Kia': 159263847, 'Audi': 567896, 'Maruti': 456789, 'Bmw': 34567890}

In [124]:
a = {'Name':'Mohan'}
b = {'class':23}

In [125]:
a + b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [126]:
a * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [127]:
car_collections.clear()

In [128]:
car_collections

{}

In [129]:
empty = {}
print(empty)

{}

In [130]:
type(empty)

dict

In [131]:
#tuple

In [132]:
a =(45)

print(a,type(a))

45 <class 'int'>

In [133]:
a = (45,)
print(a,type(a))

(45,) <class 'tuple'>

In [134]:
empty = {,}

print(empty,type(empty))

SyntaxError: invalid syntax (1271987208.py, line 1)

In [135]:
a = set()

In [136]:
print(type(a))

<class 'set'>

In [137]:
a

set()

In [138]:
a = {'Ajay':500}
b = a

In [139]:
b

{'Ajay': 500}

In [140]:
b['Ajay'] = 700

In [141]:
b

{'Ajay': 700}

In [142]:
a

{'Ajay': 700}

In [143]:
a = {'Ajay':500}
b = a.copy()

In [144]:
a['Ajay'] = 1000

In [145]:
a

{'Ajay': 1000}

In [146]:
b

{'Ajay': 500}

In [147]:
data = ['Aman','Ravi','Mohan','Jatin']

In [148]:
empty = {}

In [149]:
a = empty.fromkeys(data)

In [150]:
a['Jatin'] = 500

In [151]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None, 'Jatin': 500}

In [152]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 6789, 'Kia': 765}

In [153]:
car['Maruti'] = 8

In [154]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 8, 'Kia': 765}

In [155]:
car.get('Kia')

765

In [156]:
car.get('Kia') = 567

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1613184576.py, line 1)

In [157]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 8, 'Kia': 765}

In [158]:
car.keys()

dict_keys(['kia', 'Audi', 'Maruti', 'Kia'])

In [159]:
car.values()

dict_values([4567, 45678, 8, 765])

In [160]:
car.items()

dict_items([('kia', 4567), ('Audi', 45678), ('Maruti', 8), ('Kia', 765)])

In [161]:
list(car)

['kia', 'Audi', 'Maruti', 'Kia']

In [162]:
tuple(car)

('kia', 'Audi', 'Maruti', 'Kia')

In [163]:
car

{'kia': 4567, 'Audi': 45678, 'Maruti': 8, 'Kia': 765}

In [164]:
car.pop('Maruti')

8

In [165]:
car

{'kia': 4567, 'Audi': 45678, 'Kia': 765}

In [166]:
del car['Audi']

In [167]:
car

{'kia': 4567, 'Kia': 765}

In [168]:
car.popitem()

('Kia', 765)

In [169]:
car

{'kia': 4567}

In [170]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None, 'Jatin': 500}

In [171]:
a.popitem()

('Jatin', 500)

In [172]:
a

{'Aman': None, 'Ravi': None, 'Mohan': None}

In [173]:
a.update({'Aman':45})

In [174]:
a

{'Aman': 45, 'Ravi': None, 'Mohan': None}

In [175]:
a['Ravi'] = 560

In [176]:
a

{'Aman': 45, 'Ravi': 560, 'Mohan': None}

In [178]:
a.update({'Aman': 100, 'Ravi': 200, 'Mohan': 300})

In [179]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300}

In [181]:
a.update({'Jatin':550})

In [182]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300, 'Jatin': 550}

In [183]:

a.update({'Jatin':250})

In [184]:
a

{'Aman': 100, 'Ravi': 200, 'Mohan': 300, 'Jatin': 250}

In [189]:

a.setdefault(('Mohan',500))

In [190]:
a

{'Aman': 100,
 'Ravi': 200,
 'Mohan': 300,
 'Jatin': 250,
 'lucky': 550,
 ('Mohan', 500): None}

In [191]:

a.setdefault('lucky',550)

550

In [192]:
a

{'Aman': 100,
 'Ravi': 200,
 'Mohan': 300,
 'Jatin': 250,
 'lucky': 550,
 ('Mohan', 500): None}

In [193]:
a.values()

dict_values([100, 200, 300, 250, 550, None])