# Continue , For with Else , Nested Loop , While Loop

In [1]:
#Continue:Loop iteration sskip , and pass control to next iteration
# Pass: Loop iteration skip and pass control to next code
# Break : Loop completely break and exit outside the loop

In [7]:
data = [12,584,25,1,56,146,65,67,666,574,66,426]

for i in data:
    if i in [67,574]:
        continue #continue :skip the all next line code
        print('Just checking')
    else:
        print(f'Your ID {i} Payment approved')

Your ID 12 Payment approved
Your ID 584 Payment approved
Your ID 25 Payment approved
Your ID 1 Payment approved
Your ID 56 Payment approved
Your ID 146 Payment approved
Your ID 65 Payment approved
Your ID 666 Payment approved
Your ID 66 Payment approved
Your ID 426 Payment approved

In [4]:
data = [12,584,25,1,56,146,65,67,666,574,66,426]

for i in data:
    if i in [67,574]:
        pass #pass
        print('Just checking')
    else:
        print(f'Your ID {i} Payment approved')

Your ID 12 Payment approved
Your ID 584 Payment approved
Your ID 25 Payment approved
Your ID 1 Payment approved
Your ID 56 Payment approved
Your ID 146 Payment approved
Your ID 65 Payment approved
Just checking
Your ID 666 Payment approved
Just checking
Your ID 66 Payment approved
Your ID 426 Payment approved

In [5]:
data = [12,584,25,1,56,146,65,67,666,574,66,426]

for i in data:
    if i in [67,574]:
        break
        print('Just checking')
    else:
        print(f'Your ID {i} Payment approved')

Your ID 12 Payment approved
Your ID 584 Payment approved
Your ID 25 Payment approved
Your ID 1 Payment approved
Your ID 56 Payment approved
Your ID 146 Payment approved
Your ID 65 Payment approved

# For with Else

In [8]:
# Prime Numnber

In [15]:
all_prime = []
max_range = int(input("Enter number: "))
for i in range(2,max_range):
    for j in range(2,i):
        if i % j == 0:
           # print('Not Prime Number')
            break
    else:
       all_prime.append(i)

print(f"Prime Number list upto {max_range}: ",all_prime)

Enter number:  50

Prime Number list upto 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [16]:
user_number = 45146521

for i in range(2,user_number):
    if user_number % i == 0:
        print('Not Prime')
        break
else:
    print('Yes Its prime number')

Not Prime

# Nested Loop

In [18]:
sales_id = [4,655,447,423,555,455,665,44,586]

new_sales_id = [34,54,885,2669,14,6,44,555,665,44]

common_id =[]

for i in sales_id:
    for j in new_sales_id:
        if i  == j :
            common_id.append(i)

print('Common_id : ',common_id)

Common_id :  [555, 665, 44, 44]

In [2]:
sales_id = [4,655,447,423,555,455,665,44,586]
new_sales_id = [34,54,885,2669,14,644,555,665,44]
old_sales_id = [42,852,146,852,485,96,44,555]
common_id = []

for i in sales_id:
    for j in new_sales_id:
        for k in old_sales_id:
            if i==j==k:
                common_id.append(i)

print('Common_id : ',common_id)

Common_id :  [555, 44]

In [26]:
#max sales

sales = [4,655,447,423,555,455,665,44,586]

max_num = sales[0]

for i in sales:
    if i>max_num:
        max_num = i

print("Max :",max_num)

Max : 665

In [27]:
#min sales

sales = [4,655,447,423,555,455,665,44,586]

min_num = sales[0]

for i in sales:
    if i<min_num:
        min_num = i

print("Max :",min_num)

Max : 4

# While Loop : Works on conditions

In [32]:
# while conditions:
#     code block
#     if else : break

In [33]:
# while True : While start
# while False : While End

In [34]:
while False :
    print('Hello World')

In [35]:
counter = 1
while True: # infinite loop
    print('Hello ',counter)
    if counter ==10:
        break
    counter +=1

Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

In [4]:
import time
while True:
    print(time.asctime())
    time.sleep(1)
    display(clear = True)

Thu Sep 18 14:17:20 2025

KeyboardInterrupt: